<div class="widthFilter filter-pink">
  <p class="title-filter">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span
          *ngIf="displayEffectifsForm == false"
          (click)="onSelectEffectifs()"
          class="glyphicon glyphicon-plus-sign pull-right badge-plus-pink"
          aria-hidden="true"
          data-toggle="modal"
          data-target="#myModalCodePostal"></span>
    <span *ngIf="displayEffectifsForm" (click)="onSelectEffectifs()"
          class="glyphicon glyphicon-minus-sign pull-right badge-plus-pink"
          aria-hidden="true" data-toggle="modal"
          data-target="#myModalCodePostal"></span>
    <b>Effectifs</b></p>
  <div *ngIf="displayEffectifsForm" class="col-md-12">
    <div class="col-md-11 space">
      <select class="form-control widthForm pull-right" #effectifs>
        <option *ngFor="let value of effectifsHard; let i = index"><span (click)="deleteEffectifs(index)"
                                                                         class="glyphicon glyphicon-remove"
                                                                         aria-hidden="true"></span> {{ value }}
        </option>
      </select>
    </div>
    <div class="col-md-1">
      <button class="special-btn-pink btn btn-primary pull-right leftFloat"
              (click)="addEffectifs(effectifs.value);">
        Ajouter
      </button>
    </div>
  </div>
  <ul>
    <li *ngFor="let value of effectifs; let i = index"><span (click)="deleteStatut(index)"
                                                             class="glyphicon glyphicon-remove"
                                                             aria-hidden="true"></span> {{ value }}<span
            class="badge badge-default badge-pink
 pull-right ">14</span></li>
  </ul>
  <div class="alert alert-danger" *ngIf="effectifsError">
    <strong>Attention!</strong> Il y a une erreur.
  </div>
</div>
