<div class="widthFilter filter-blue">
  <p class="title-filter">
    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span><span
          *ngIf="displayDepartementForm == false" (click)="onSelectDep()"
          class="glyphicon glyphicon-plus-sign pull-right badge-plus-blue" aria-hidden="true" data-toggle="modal"
          data-target="#myModalDepartement"></span>
    <span
            *ngIf="displayDepartementForm" (click)="onSelectDep()"
            class="glyphicon glyphicon-minus-sign pull-right badge-plus-blue" aria-hidden="true"
            data-toggle="modal"
            data-target="#myModalDepartement"></span>
    <b>Département</b></p>
  <div *ngIf="displayDepartementForm" class="col-md-12">
    <div class="col-md-11 space">
      <input class="form-control widthForm pull-right" #dep placeholder="Departement">
    </div>
    <div class="col-md-1">
      <button class="special-btn-blue btn btn-primary pull-right leftFloat" (click)="addDepartement(dep.value);">
        Ajouter
      </button>
    </div>
  </div>
  <ul>
    <li *ngFor="let value of departement; let i = index"><span (click)="deleteDepartement(index)"
                                                               class="glyphicon glyphicon-remove"
                                                               aria-hidden="true"></span> {{ value }}<span
            class="badge badge-default badge-blue
 pull-right ">14</span></li>
  </ul>
  <div class="alert alert-danger" *ngIf="depError">
    <strong>Attention!</strong> Il y a une erreur.
  </div>
</div>
