

<div class="col-xs-6 col-md-12  main-datatable">
    <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           class="table table-striped borderless ">
        <thead>
        <tr class="headercolor">
            <th></th>
            <th> Siren</th>
            <th> Nom </th>
            <th> Forme Juridique </th>
            <th> Adresse</th>
            <th> Code postal</th>
            <th> Ville </th>
            <th> Année de création </th>
            <th> Capital</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Enterprise of listEnterprises">
                <td>
                    {{ Enterprise.id }}
                </td>
                <td>
                    {{ Enterprise.siren}}
                </td>
                <td>
                    {{ Enterprise.names.best }}
                </td>
                <td>
                    {{Enterprise.legal_form}}
                </td>
                <td>
                    {{ Enterprise.address}}
                </td>
                <td>
                    {{ Enterprise.postal_code}}
                </td>
                <td>
                    {{Enterprise.city}}
                </td>
                <td>
                    {{Enterprise.established_on}}
                </td>
                <td>
                    {{Enterprise.capital}}
                </td>
            </tr>
        </tbody>
    </table>
</div>


