<div class="col-xs-12 col-md-9  main-datatable">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped borderless table-hover ">
        <thead>
        <tr class="headercolor">
            <th> Identifiant de l'entreprise </th>
            <th> Numéro interne de classement </th>
            <th> Première ligne de l'adressage </th>
            <th> Deuxième ligne de l'adressage </th>
            <th> Troisème ligne de l'adressage </th>
            <th> Quatrième ligne de l'adressage </th>
        </tr>
        </thead>
        <tbody class="text-uppercase">
            <tr *ngFor="let Enterprise of listEnterprises">
                <td>
                    {{Enterprise.siren}}
                </td>
                <td>
                    {{Enterprise.internNum}}
                </td>
                <td>
                    {{Enterprise.firstAddress}}
                </td>
                <td>
                    {{Enterprise.secondAddress}}
                </td>
                <td>
                    {{Enterprise.thirdAddress}}
                </td>
                <td>
                    {{Enterprise.fourthAddress}}
                </td>
            </tr>
        </tbody>
    </table>
</div>


