<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-search"></span>

            </button>
            <a class="navbar-brand custom_logo" href="#"><img
                    src="https://i.imgur.com/EeCahmB.jpg" style="max-height: 100%;"> </a>
        </div>
        <div id="topbar" class="collapse navbar-collapse">
            <div class="col-sm-3 col-md-3">
                <div class="navbar-form">
                    <div class="input-group custom_searchbar">
                        <input #search class="form-control search-bar"
                               placeholder="Nom de l'entreprise, n° de SIRET, activité, nom du dirigeant ...">
                        <div class="input-group-btn">
                            <button class="btn btn-default circle-glyph"
                                    (click)="addSearch(search.value);"><i class="glyphicon glyphicon-search "></i>
                            </button>
                        </div>
                    </div>
                    <!--<div class="input-group custom_searchbar_mini">-->
                        <!--<input #search class="form-control search-bar"-->
                               <!--placeholder="Nom de l'entreprise ...">-->
                        <!--<div class="input-group-btn">-->
                            <!--<button class="btn btn-default circle-glyph"-->
                                    <!--(click)="addSearch(search.value);"><i class="glyphicon glyphicon-search "></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>

            </div>
            <!--<p class="pull-right help-text"><a routerLink="/help" routerLinkActive="active">aide</a>-->
                <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></p>-->
        </div><!--/.nav-collapse -->

    </div>

</nav>

