<nav class="navbar navbar-default custom-nav">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                  <span class="icon-bar"> <a><i class="fa fa-search"></i> </a></span>                    
                </button>
        </div>
    <div class="container-fluid">
      <div id="Navbar" class="collapse navbar-collapse" >
            <p class="pull-left lefttext"><b>10 848 086</b> entreprises au {{datetest | date :'dd-MMM-yyyy'}}</p>
            <ul class="nav navbar-nav">
                <li><a routerLink="/" [routerLinkActiveOptions]='{ exact: true }' routerLinkActive="active">Tableau</a></li>
                <li><a routerLink="/carte" routerLinkActive="active" >Carte</a></li>
                <li><a routerLink="/export" routerLinkActive="active">Export de données</a></li>
            </ul>
      </div>
    </div>
  </nav>
