<div class="bs-example bs-navbar-bottom-example custom-nav" data-example-id="navbar-fixed-to-bottom">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
                <p class="pull-left lefttext"><b>10 848 086</b> entreprises au 15/11/2017</p>
                <ul class="nav navbar-nav custom_title_table">
                    <li><a routerLink="/" [routerLinkActiveOptions]='{ exact: true }' routerLinkActive="active">Tableau</a></li>
                    <li><a routerLink="/carte" routerLinkActive="active" >Carte</a></li>
                    <li><a routerLink="/export" routerLinkActive="active">Export de données</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
