.widthFilter
{
    background-color: #f3f3f3;
    height: 100%;
    min-height: 90px;
    border-bottom: solid 2px;
    border-bottom-color: #e7e7e7 !important ;
}

.widthFilterTop
{
    background-color: #f3f3f3;
    height: 100%;
    min-height: 40px;
    border-bottom: solid 2px;
    border-bottom-color: #e7e7e7 !important ;
}

.filter-yellow
{
    border-left: solid 5px;
    border-color:#ff9800;
}

.badge-yellow
{
    background-color: #ff9800;
}

.badge-plus-yellow:hover
{
    color: #ff9800;
}

.filter-green
{
    border-left: solid 5px;
    border-color:#9acb00;
}

.badge-green
{
    background-color: #9acb00;
}

.badge-plus-green:hover
{
    color: #9acb00;
}

.filter-blue
{
    border-left: solid 5px;
    border-color:#1ba0e5;
}

.filter-purple
{
    border-left: solid 5px;
    border-color:#6534cc;
}

.title-filter
{
    font-size: 100%;
    color: #656565;
    padding-top: 20px;
    padding-left: 20px;
}

.title-sidebar
{
    font-size: 150%;
    color: #2569b0;
    padding-top: 15px;
    padding-left: 20px;
}

.smalltext
{
    font-size: 80%;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #656565;
}

ul{
    list-style:none;
}

li{
    color: #656565;
}


.pull-right
{
    margin-right: 8px;
}

.glyphicon-plus-sign
{
    font-size: 150%;
    cursor: pointer;
}

.reset
{
    margin-top: 8px;
    font-size: 70%;
    color: grey;
}

.reset:hover
{
    color: #555555;
    cursor: pointer;
}

.glyphicon-remove:hover
{
    color: #555555;
    cursor: pointer;
}



.widthForm
{
    width: 120px;
}

.space
{
    margin-left: -40px;
    margin-right: 20px;
}

.special-btn-orange
{
    border-radius: 0px 50px 50px 0px;
    background-color: #ff9800 ;
    border-color: lightgray;
}

.glyphicon-minus-sign
{
    font-size: 150%;
}
