<!-- <ul>
    yo
    <div *ngIf="loaded">
        {{ results.administration}}
    </div>
    <li *ngFor=" let unTest of listTest">
        {{ unTest }}
    </li>
</ul> -->

<div class="widthFilter filter-yellow">
    <p class="title-filter">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <b>Code postal</b></p>
    <ul>
        <li><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 95270</li>
        <li><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 95150</li>
        <li><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 60000</li>
        <li><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 75150</li>
    </ul>
</div>

<div class="widthFilter filter-green">


</div>
<div class="widthFilter filter-blue">


</div>
<div class="widthFilter filter-purple" >


</div>
