


.filter-green
{
    border-left: solid 5px;
    border-color:#9acb00;
}

.badge-green
{
    background-color: #9acb00;
}

.badge-plus-green:hover
{
    color: #9acb00;
}


.filter-light-purple
{
    border-left: solid 5px;
    border-color:#a83acd;
}

.badge-light-purple
{
    background-color: #a83acd;
}

.badge-plus-light-purple:hover
{
    color: #a83acd;
}

.filter-pink
 {
     border-left: solid 5px;
     border-color:#cb308b;
 }

.badge-pink
{
    background-color: #cb308b;
}

.badge-plus-pink:hover
{
    color: #cb308b;
}

.filter-red
{
    border-left: solid 5px;
    border-color: #d10000;
}

.badge-red
{
    background-color: #d10000;
}

.badge-plus-red:hover
{
    color: #d10000;
}



.badge-purple
{
    background-color: #6534cc;
}

.badge-plus-purple:hover
{
    color: #6534cc;
}

.badge-blue
{
    background-color: #1ba0e5;
}

.badge-plus-blue:hover
{
    color:#1ba0e5;
}

.badge-dark-blue
{
    background-color: #3567ca;
}

.badge-plus-dark-blue:hover
{
    color:#3567ca;
}

.filter-blue
{
    border-left: solid 5px;
    border-color:#1ba0e5;
}

.filter-purple
{
    border-left: solid 5px;
    border-color:#6534cc;
}

.filter-dark-blue
{
    border-left: solid 5px;
    border-color: #3567ca;
}












.special-btn-orange
{
    border-radius: 0px 50px 50px 0px;
    background-color: #ff9800 ;
    border-color: lightgray;
}

.special-btn-dark-blue
{
    border-radius: 0px 50px 50px 0px;
    background-color: #3567ca ;
    border-color: lightgray;
}

.special-btn-green{
    background-color: #9acb00;
    border-radius: 0px 50px 50px 0px;
    border-color: lightgray;
}

.special-btn-blue{
    background-color: #1ba0e5;
    border-radius: 0px 50px 50px 0px;
    border-color: lightgray;
}

.special-btn-purple
{
    border-radius: 0px 50px 50px 0px;
    background-color: #6534cc;
    border-color: lightgray;
}

.special-btn-light-purple
{
    border-radius: 0px 50px 50px 0px;
    background-color: #a83acd;
    border-color: lightgray;
}

.special-btn-pink
{
    border-radius: 0px 50px 50px 0px;
    background-color: #cb308b;
    border-color: lightgray;
}

.special-btn-red
{
    border-radius: 0px 50px 50px 0px;
    background-color: #d10000;
    border-color: lightgray;
}

.glyphicon-minus-sign
{
    font-size: 150%;
}
