
.delete-bootstrap-padding
{
    margin-left: -15px !important;
    padding-right: 0px !important;
}

.fixed-top-filter
{
    margin-top: -21px;
}


.title-sidebar
{
    font-size: 150%;
    color: #2569b0;
    padding-top: 15px;
    padding-left: 20px;
}
.glyphicon-remove::before{
    margin-right:9px;
}

