
.delete-bootstrap-padding
{
    margin-left: -15px !important;
    padding-right: 0px !important;
}

.fixed-top-filter
{
    margin-top: -21px;
}

.widthFilterTop
{
    background-color: #f3f3f3;
    height: 100%;
    min-height: 40px;
    border-bottom: solid 2px;
    border-bottom-color: #e7e7e7 !important ;
}

.title-sidebar
{
    font-size: 150%;
    color: #2569b0;
    padding-top: 15px;
    padding-left: 20px;
}
.glyphicon-remove::before{
    margin-right:9px;
}

