<app-loader></app-loader>
<app-top-navbar></app-top-navbar>
<app-navbar></app-navbar>
<div>
    <div class="col-md-12 delete-bootstrap-padding fixed-top-filter">
        <div class="col-md-3 delete-bootstrap-padding ">
            <div class="widthFilterTop">
                <p class="title-sidebar"><span
                        class="glyphicon glyphicon-remove pull-right reset" aria-hidden="true"></span>
                    <b>216</b> résultats</p>
            </div>
            <!-- list of filters -->
            <app-filter-code-ape (outputCodeApe)="outputCodeApe($event)"></app-filter-code-ape>
            <app-filter-business-categories (outputListCateg)="outputListCateg($event)"></app-filter-business-categories>
            <app-filter-area (outputListArea)="outputListArea($event)"></app-filter-area>
            <app-filter-municipality (outputListArea)="outputListMunicipality($event)"></app-filter-municipality>
            <app-filter-creation-year (outputListArea)="outputListCreationDate($event)"></app-filter-creation-year>
            <app-filter-legal-status (outputListZipCode)="outputListLegalStatus($event)"></app-filter-legal-status>
            <app-filter-workforce (outputListArea)="outputWorkforceStatus($event)"></app-filter-workforce>
            <app-filter-total-revenue (outputListArea)="outputTotalRevenueStatus($event)"></app-filter-total-revenue>
            <app-filter-region (outputRegion)="outputRegion($event)"></app-filter-region>
        </div>
        <div class="col-md-9 delete-bootstrap-padding">

        </div>
        <router-outlet></router-outlet>
    </div>
</div>

