<app-loader></app-loader>
<app-top-navbar></app-top-navbar>
<app-navbar></app-navbar>
<div>
    <div class="col-md-12 delete-bootstrap-padding fixed-top-filter">
        <div class="col-md-3 delete-bootstrap-padding ">
            <div class="widthFilterTop">
                <p class="title-sidebar"><span
                        class="glyphicon glyphicon-remove pull-right reset" aria-hidden="true"></span>
                    <b>216</b> résultats</p>
            </div>
            <!-- list of filters -->
            <app-filter-code-ape (outputCodeApe)="outputCodeApe($event)"></app-filter-code-ape>
            <app-filter-business-categories (outputListCateg)="outputListCateg($event)"></app-filter-business-categories>
            <app-filter-area (outputListArea)="outputListArea($event)"></app-filter-area>
        </div>
        <div class="col-md-9 delete-bootstrap-padding">
            <app-filter style="display: none"
                        class="col-md-3 delete-bootstrap-padding"></app-filter>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

