<div class="widthFilter filter-purple">
  <p class="title-filter">
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span
          *ngIf="displayAnneeCreationForm == false"
          (click)="onSelectAnneeCreation()"
          class="glyphicon glyphicon-plus-sign pull-right badge-plus-purple"
          aria-hidden="true"
          data-toggle="modal"
          data-target="#myModalCodePostal"></span>
    <span *ngIf="displayAnneeCreationForm" (click)="onSelectAnneeCreation()"
          class="glyphicon glyphicon-minus-sign pull-right badge-plus-purple"
          aria-hidden="true" data-toggle="modal"
          data-target="#myModalCodePostal"></span>
    <b>Année de création</b></p>
  <div *ngIf="displayAnneeCreationForm" class="col-md-12">
    <div class="col-md-11 space">
      <select class="form-control widthForm pull-right" #annee>
        <option *ngFor="let value of anneeCreationHard; let i = index"><span (click)="deleteAnneeCreation(index)"
                                                                             class="glyphicon glyphicon-remove"
                                                                             aria-hidden="true"></span> {{ value }}
        </option>
      </select>
    </div>
    <div class="col-md-1">
      <button class="special-btn-purple btn btn-primary pull-right leftFloat"
              (click)="addAnneeCreation(annee.value);">
        Ajouter
      </button>
    </div>
  </div>
  <ul>
    <li *ngFor="let value of anneeCreation; let i = index"><span (click)="deleteAnneeCreation(index)"
                                                                 class="glyphicon glyphicon-remove"
                                                                 aria-hidden="true"></span> {{ value }}<span
            class="badge badge-default badge-purple
 pull-right ">14</span></li>
  </ul>
  <div class="alert alert-danger" *ngIf="anneeCreationError">
    <strong>Attention!</strong> Il y a une erreur.
  </div>
</div>
